* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.product {
    display: flex;
    width: 1000px;
    align-items: center;
    border: 1px solid grey;
    padding: 10px;
    margin-bottom: 10px;
}

@media (max-width: 1100px){
    .product {
        width: auto;
    }
}

.avatar {
    height: 50px;
    width: 50px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 50%;
    background-color: grey;
}

